.organize-comment-input {
  position: relative;
  border-bottom: 1px solid rgba(177,151,252,0.5);
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  width: 95%;
  max-width: 715px;
}

.organize-comment-input.focused {
  animation-name: bottom-border;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes bottom-border {
  from { border-bottom: 1px solid rgba(177,151,252,0.5); }
  to { border-bottom: 1px solid #b197fc; }
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.organize-elements {
  display: flex;
  align-items: flex-start;
  width: 95%;
  max-width: 715px;
}

.total-comments {
  color: inherit;
  font-weight: bold;
  font-size: smaller;
  margin-top: 40px;
}

.profile-picture-comments {
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.cancel-and-submit-buttons {
  justify-content: flex-end;
  padding-top: 15px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  width: 95%;
  max-width: 715px;
}

.cancel-button {
  font-size: 0.7rem;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  background-color: inherit;
  border: none;
  color: inherit;
  border-radius: 20px;
  border: 1px solid #b197fc;
}

.submit-button {
  font-size: 0.7rem;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #b197fc;
  color: inherit;
  background-color: inherit;
  border-radius: 20px;
  cursor: pointer;
}

.new-comment-input {
  font-family: "Montserrat", sans-serif;
  flex: 1;
  min-height: 15px;
  margin-left: 10px;
  background-color: inherit;
  font-size: 0.8rem;
  border: none;
  color: inherit;
  resize: none;
  box-sizing: border-box;
  padding: 0;
  line-height: 1.4;
}

.new-comment-input:focus {
  outline: none;
}

.activate {
  cursor: pointer;
  background-color: #b197fc;
}

.comments-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 715px;
}

.user {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
}

.comment {
  font-size: 0.8rem;
  padding-bottom: 15px;
  margin-bottom: 0px;
  margin-top: 10px;
  word-break: break-all;
}

.pp {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.username {
  font-weight: bold;
}

.deactivate {
  pointer-events: none;
  opacity: 0.5;
}