.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  max-width: 800px;
  max-height: 592px;
  margin-left: auto;
  margin-right: auto;
}

.char-counter {
  font-size: 0.7rem;
  align-self: flex-end;
  margin-top: 5px;
}

.page-title {
  color: #b197fc;
}

.post-title {
  font-size: smaller;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: 1px solid #b197fc;
  border-radius: 20px;
  padding: 10px;
  color: inherit;
  background-color: inherit;
  width: 100%;
  max-width: none;
}

.text-body {
  font-size: smaller;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #b197fc;
  border-radius: 20px;
  padding: 10px;
  color: inherit;
  background-color: inherit;
  resize: none;
  width: 100%;
  max-width: none;
  height: 100%;
}

.text-body-label {
  align-self: start;
  font-size: smaller;
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-title-label {
  align-self: start;
  font-size: smaller;
  
  margin-bottom: 5px;
}

.post-title:focus {
  outline: none;
}

.text-body:focus {
  outline: none;
}

.post-type-selector {
  display: flex;
  gap: 15px;
  font-size: smaller;
  font-weight: bold;
}

.post-type-text {
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 3px solid #b197fc;
}

.post-type-media {
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 3px solid #b197fc;
}

.remove-underline {
  border: none;
}

.media-upload-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #b197fc;
  border-radius: 20px;
  background-color: inherit;
  resize: none;
  width: 103%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.media-upload-info {
  font-size: 0.65rem;
}

.media-upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.upload-icon {
  width: 24px;
}

.hide {
  display: none !important;
}

.media-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev-media-button {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.next-media-button {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.next-media-button:hover {
  background-color: rgba(177, 151, 252, 0.3);
}

.prev-media-button:hover {
  background-color: rgba(177, 151, 252, 0.3);
}

.prev-media-button-icon {
  height: 14px;
}

.next-media-button-icon {
  height: 14px;
}

.media-upload-button-and-info-text {
  display: flex;
  align-items: center;
}

.add-and-delete-media-buttons {
  position: absolute;
  top: 15px;
  left: 5px;
  display: flex;
  gap: 5px;
}

.add-and-delete-media-buttons button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 5px 10px;
  background-color: inherit;
  color: inherit;
  border: 1px solid #b197fc;
  border-radius: 20px;
  cursor: pointer;
}

.add-and-delete-media-buttons button:hover {
  background-color: rgba(177, 151, 252, 0.3);
}

.add-media-button-icon {
  height: 0.7rem;
}

.delete-media-button-icon {
  height: 0.7rem;
}

.drag-over {
  border: 1px solid #b197fc;
  background-color: rgba(177, 151, 252, 0.3);
}

.submit-and-cancel-buttons {
  display: flex;
  gap: 10px;
  align-self: flex-start;
}

.submit-and-cancel-buttons button {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #b197fc;
  border-radius: 20px;
  font-size: 0.7rem;
  padding: 5px 10px;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.submit-and-cancel-buttons button:hover {
  background-color: rgba(177, 151, 252, 0.3);
}

.video-file {
  max-width: 100%;
  max-height: 100%;
}

.deactive {
  pointer-events: none;
  opacity: 0.5;
}

.upload-error {
  background-color: inherit;
  color: inherit;
  border: 1px solid #b197fc;
  border-radius: 20px;
  padding: 15px;
  width: auto;
  font-size: 0.65rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.center-items {
  color: inherit;
  background-color: inherit;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.xmark {
  padding-left: 10px;
  position: relative;
  top: 3px;
  width: 1rem;
  height: 1rem;
}

.close-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}