.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 0.8rem;
  background-color: inherit;
  color: inherit;
  border-top: 1px solid #b197fc;
  margin-top: 15px;
}

.pulse-logo {
  width: 1em;
  height: 1em;
}

.hide {
  display: none;
}

.footer-text {
  font-family: "Jaro", sans-serif;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 0.8rem;
}

.footer-date {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 0.7rem;
}