@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.header {
  background-color: inherit;
  color: inherit;
  border-bottom: 1px solid #b197fc;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  z-index: 999999;
  margin-bottom: 15px;
}

.brand {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-family: "Jaro", sans-serif;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.brand-logo {
  width: 1em;
  height: 1em;
}

.menu-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: inherit;
  color: inherit;
}

.menu {
  background-color: inherit;
  color: inherit;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid #b197fc;
  border-radius: 20px;
  width: 150px;
}

.menu a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  font-size: 0.85rem;
}

.menu a:hover {
  color: #b197fc;
}

.menu a:last-of-type {
  margin-bottom: 10px;
}

.menu-button {
  font-size: 1.2rem;
  color: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.hidden {
  display: none;
}

.search-bar {
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  color: inherit;
  padding: 5px 10px;
  border: 1px solid #b197fc;
  border-radius: 20px;
  width: 40%;
}

.search-bar:focus {
  outline: none;
}

.header-buttons {
  display: flex;
  gap: 15px;
}

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: inherit;
  color: inherit;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #b197fc;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 0.8rem;
}

.plus-icon {
  width: 1em;
  height: 1em;
}

.create-button:hover {
  background-color: rgba(177, 151, 252, 0.3);
}

.switch {
  position: relative;
  display: inline-block;
  width: 61px;
  height: 34px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4.5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
  font-size: 1.1rem;
}

.slider.round:before {
  border-radius: 50%;
}

.links-button {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

nav button:first-of-type {
  margin-top: 5px;
}

.links-button:hover {
  color: #b197fc;
}