@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  color: #ececec;
  background-color: #212121;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.2s linear;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: inherit;
  background-color: inherit;
}

.page-content {
  flex: 1;
  padding-top: 70px;
}