.test-panel {
  border: 1px solid black;
  width: 50%;
  height: 50%;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease, visibility 0.15s ease;
  background-color: aqua;
}


.img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}




